<div class ="container">

  <div class ="row">
    <h5 class="my-5">
      <span class ="p-2" style="background-color: #eee;">
        注文履歴詳細
      </span>
    </h5>
  </div>

  <div class ="row">
     <div class="col-6">
      <%# @order_datils.each do |order_datil| %>
        <table class="table table-borderless">
          <tr>
            <td>購入者</td>
            <td><%= @order.name %></td>
          </tr>

          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>

          <tr>
            <td>配送先</td>
            <td>
              <%= @order.postal_code %><%= @order.address %><br>
              <%= @order.name%>
            </td>
          </tr>

          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method %></td>
            <td></td>
          </tr>
          
          <td>注文ステータス</td>
            <tr><%= form_with model: @order, url: admin_order_path do |f| %>
              <td>
                <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
                <%= f.submit "更新", class: "btn btn-success ml-5" %>
              </td>
            </tr>
          <% end %>

        </table>
      <%# end %>
    </div>
     </div>

    <div class ="row">
      <div class ="col-9">
        <table class="table table-border pt-8">
          <thead>
            <tr class ="p-2" style="background-color: #eee;">
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td>
                  <%#商品の名前 %>
                  <%= order_detail.item.name %>
                </td>
                <td>
                  <%# 単価(税込) %>
                  <%= order_detail.item.add_tax_price.to_s(:delimited) %>円
                </td>
                <td>
                  <%# 数量 %>
                  <%= order_detail.amount %>
                </td>
                <td>
                  <%# 小計 %>
                  <%= order_detail.get_subtotal.to_s(:delimited) %>
                </td>
                <%= form_with model:order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %>
                  <td>
                    <%= f.select :making_status,OrderDetail.making_statuses.keys.map %>
                    <%= f.submit "更新", class: "btn btn-success ml-3" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class ="col-3 row d-flex align-items-end ">

          <table>
            <tr>
              <td>商品合計</td>
              <td><%= @order.get_items_total_price.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td>送料</td>
              <td><%= @order.shipping_cost.to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <td>請求金額合計</td>
              <td><strong><%= @order.total_payment.to_s(:delimited) %>円</strong></td>
            </tr>
          </table>
      </div>


  </div>
</div>