<!-- 寺田 -->
<h1>配送先一覧</h1>

<%= form_with(model: @address, local: true) do |form| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, '氏名' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :postal_code, '郵便番号' %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address, '住所' %>
    <%= form.text_area :address %>
  </div>

  <div class="actions">
    <%= form.submit '新規登録' %>
  </div>
<% end %>

<h2>登録済み配送先</h2>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.name %></td>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= link_to '編集', edit_address_path(address) %></td>
        <td><%= link_to '削除', address_path(address), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
